body {
    text-align: left;
    background-color: #008CBA
}
#panel {
   
    width: 70%;
    margin: auto;
    margin-top: 10px;
}
.item {
    display: flex;
}
.item:nth-child(odd) {
    background-color:white
    
}
.item:nth-child(even) {
    background-color: white
   
}
.flag {
    width: 100px;
    margin-right: 20px;
}
.flag img {
    width:100%;
    margin-top: 35%;
    margin-left: 10px;
}
.content {
    text-align: left;
}
.content p {
    color: rgb(3, 21, 29); 
    font-size: 20px;
    
}

#allbtn {
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  #searchbtn {
    background-color:darkred;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

